@font-face {
  font-family: 'kalam';
  src: url('/fonts/Kalam-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-size: 16px;
  /* Semantic Color Variables */
  --background: #ffffff;
  --foreground: #1A1A1A;
  --btn-primary: #31242C;
  --btn-text: #ffffff;
  --icon-color: #D4AF37;
  --card-shadow: 0 0 0 0px #31242C, 0 4px 8px 0 #31242C;
}

.dark {
  /* Semantic Color Variables for Dark Theme */
  --background: #2e2a2a;
  --foreground: #F8FAFC;
  --btn-primary: #e9eff5;
  --btn-text: #000000;
  --icon-color: #D4AF37;
  --card-shadow: 0 0 0 0px #F8FAFC, 0 2px 4px 0 #F8FAFC;
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: var(--font-size);
}

.card-shadow {
  box-shadow: var(--card-shadow);
}


