

:root {
  --font-size: 16px;
  /* Semantic Color Variables */
  --background: #FFFFFF;
  --foreground: #1A1A1A;
  --btn-primary: #D4AF37;
  --btn-text: #000000;
  --icon-color: #B8860B;
}

.dark {
  /* Semantic Color Variables for Dark Theme */
  --background: #1f1d1d;
  --foreground: #F8FAFC;
  --btn-primary: #FFD700;
  --btn-text: #1e3a8a;
  --icon-color: #FFD700;
}





/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: var(--font-size);
}
